<div id="header">
    <img id="logo" src="/assets/imgs/logo.svg" alt="">
</div>
<div id="rifa-green-container">
    <img src="/assets/imgs/rifa-login.svg" alt="">
</div>
<div class="spinner">
    <mat-spinner ng-animate="'animate'" color="accent" *ngIf="loading"></mat-spinner>
</div>
<div class="general-container login-container" *ngIf="!loading && !changePassSuccess && !redirectPage">
    <form #resetPassForm="ngForm">
        <div id="main-text">
            INGRESÁ<br>TU NUEVA<br>CONTRASEÑA
        </div>
        <div class="general-class-form">
            <input placeholder="Contraseña" type="password" name="passTxt" [(ngModel)]="passTxt">
            <input placeholder="Repetir contraseña" type="password" name="repeatPassTxt" [(ngModel)]="repeatPassTxt">
        </div>
        <div class="invalid-form">
            {{message}}
        </div>
        <div class="general-btn green-btn" (click)="triggerSubmit()">
            <div class="btn-text">RESETEAR</div>
        </div>
    </form>
</div>
<div class="center-container login-container" *ngIf="(!loading && changePassSuccess) || (!loading && redirectPage)">
    <div id="main-text">
        <div [ngClass]="{'invalid-form': !changePassSuccess, 'valid-form': changePassSuccess }">
            {{message}}
        </div>
    </div>
</div>