<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title> Crear Rifa</mat-card-title>
            <mat-card-subtitle>De Toque y Toque</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <br>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="save($event)">
            <mat-grid-list cols="2" rowHeight="8:1">
                <mat-grid-tile class="left-grid-tile">
                    <mat-form-field appearance="outline">
                        <mat-label for="id">Nombre: </mat-label>
                        <input matInput [(ngModel)]="model.nombre" name="nombre" formControlName="nombre" type="text"
                            class="form-control" id="nombre">
                    </mat-form-field>
                    <span *ngIf="this.form.get('nombre')?.errors?.['required']"> Campo requerido</span>
                </mat-grid-tile>
                <mat-grid-tile class="left-grid-tile">
                    <mat-form-field appearance="outline">
                        <mat-label for="descripcion">Descripcion:</mat-label>
                        <input matInput [(ngModel)]="model.descripcion" name="descripcion" formControlName="descripcion"
                            type="text" class="form-control" id="descripcion">
                    </mat-form-field>
                    <span *ngIf="this.form.get('descripcion')?.errors?.['required']"> Campo requerido</span>
                    <span *ngIf="this.form.get('descripcion')?.errors?.['maxLength']"> Max of 8 characters</span>
                </mat-grid-tile>
                <mat-grid-tile class="left-grid-tile">
                    <mat-form-field >
                        <mat-label> Desde: </mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="model.fecha_inicio"
                            formControlName="fecha_inicio">
                        <mat-hint>DIA / MES / AÑO</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="left-grid-tile">
                    <mat-form-field class="datepicker-content">
                        <mat-label> Hasta: </mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="model.fecha_fin"
                            formControlName="fecha_fin">
                        <mat-hint>DIA / MES / AÑO</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile class="left-grid-tile">
                    <mat-form-field appearance="outline">
                        <mat-label for="organizador">Organizador:</mat-label>
                        <!-- <input matInput [(ngModel)]="model.organizador" name="organizador" formControlName="organizador"
                            type="number" class="form-control" id="organizador">-->
                        <mat-select [(value)]="selectedOrganizador" formControlName="organizador"
                            (selectionChange)="organizadorChange($event)">
                            <mat-option value="1">De Toque y Toque</mat-option>
                            <mat-option value="2">Otros</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="example-button-row">
            <div *ngIf="!editable">
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save($event)">Crear</button>
                <button mat-raised-button color="accent"
                    (click)="refreshPage()"><mat-icon>replay</mat-icon> Regresar</button>
            </div>
            <div *ngIf="editable">
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="editar($event)">Editar</button>
                <button mat-raised-button color="accent"
                    (click)="refreshPage()"><mat-icon>replay</mat-icon> Regresar</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>