span {
    font-size: 0.8rem;
    font-weight: 700;
    color: #F44336;
    //background-color: #ffc4c4;
    padding: 10px 20px;
    //margin: 20px 0px 20px 30px;
    position: relative;
}


.fr {
    float: right;
}

.fl {
    float: left;
}