.table-filters-item-4 {
    margin-left: 37px;
    width: 26%;
}

.table-filters-item-3 {
    margin-left: 10px;
    //width: 25%;
}

.general-btn {
    padding: 17px 0px 17px 12px;
}

//background-color: #efe35e;
//border: 1px solid #efe35e;
