<div class="spinner">
    <mat-spinner ng-animate="'animate'" color="accent" *ngIf="loading"></mat-spinner>
</div>
<div class="general-container">
    <div>
        <div id="main-text">
            <p>
                PASAJEROS
            </p>
        </div>
        <div class="table-filters">
            <div class="table-filters-row">
                <div class="table-filters-item-full-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Nombres, apellidos, pasajero id ..." [(ngModel)]="termino">
                    </mat-form-field>
                </div>
            </div>
            <div class="table-filters-row">
                <div class="table-filters-item table-filters-item-1">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select (selectionChange)="statusChange($event)" [disabled]="loading">
                            <mat-option value="todos">Todos</mat-option>
                            <mat-option value="A">Activo</mat-option>
                            <mat-option value="I">Inactivo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="table-filters-item table-filters-item-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Viajes</mat-label>
                        <mat-select (selectionChange)="viajeChange($event)" [disabled]="loading">
                            <mat-option value="todos">Todos</mat-option>
                            <mat-option *ngFor="let viaje of viajes" [value]="viaje.id">{{ viaje.Nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="table-filters-item table-filters-item-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Itinerarios</mat-label>
                        <mat-select (selectionChange)="itinerarioChange($event)" [disabled]="loading">
                            <mat-option value="todos">Todos</mat-option>
                            <mat-option *ngFor="let itinerario of itinerarios" [value]="itinerario.id">{{
                                itinerario.Nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="table-filters-btn table-filters-item-4">
                    <div class="general-btn blue-btn" (click)="filter()">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">filter_list</mat-icon>
                        <div class="btn-text">FILTRAR</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rifas-box" [class.loading]="loading">
            <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" #tabla1>
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let pasajero"> {{pasajero.id}} </td>
                </ng-container>

                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let pasajero"> {{pasajero.persona.nombres}} -
                        {{pasajero.persona.apellidos}} </td>
                </ng-container>

                <ng-container matColumnDef="Itinerario">
                    <th mat-header-cell *matHeaderCellDef> Itinerario </th>
                    <td mat-cell *matCellDef="let pasajero"> {{pasajero.itinerario}} </td>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="btnSumar">
                    <th mat-header-cell *matHeaderCellDef> Sumar </th>
                    <td mat-cell *matCellDef="let pasajero">
                        <button mat-raised-button color="primary" matTooltip="Sumar"
                            (click)="Sumar(pasajero)">Sumar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
        <mat-paginator [length]="totalPasajeros" [pageSize]="20" hidePageSize="true" aria-label="Select page"
            (page)="pageEvent($event)">
        </mat-paginator>
    </div>

    <app-pasajeros-chips [pasajero]="pasajero">
    </app-pasajeros-chips>

</div>
