<mat-form-field appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Desde" [formControl]="dateDesde" (dateChange)="dateChange()">
        <input matEndDate placeholder="Hasta" [formControl]="dateHasta" (dateChange)="dateChange()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>